.fade-in-div {
    .aboutFirst {
      position: absolute;
      top: 20px;
      left: 35%;
    }
    
    .paragraph {
        font-size: 25px;
        text-align:justify;
        color: aliceblue;
        font-family: sans-serif;
        margin-top: 50%;
      
    }
  }
