.page{
    width:100%;
    height: 100%;
    position: absolute;
}

.top-tags{
    bottom: auto;
    top: 35px;
}

.tags{
    color:#fafafa ;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 200px;
    font-size: 28px;
    font-family: 'LaBelleAurore';
      
}


.bottom-tag-html{

    margin-left: -90px;
}

.container{
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position:absolute ;
    opacity: 0;
    top:5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation:fadeIn 1s forwards;
    animation-delay: 1s;
}

@media (max-width: 768px) {

    .top-tags{
        bottom: auto;
        top: 80px;
        

    }
    
    .tags{
       
        bottom: 180px;
        left: 12px;
        font-size: 13px;
          
    }
    
    
   
}



