.about-page{
    .text-zone{
        position: absolute;
        left: 10%;
        top:50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        animation: fadeIn 1s 1.8s backwards;
    }

    h1{
        font-size: 60px;
        font-family: 'CoolveticaRg-Regular';
        color:#7a0041;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;


        &::before{
            content: '<h1>';
            font-family:LaBelleAurore ;
            color: rgb(205, 214, 220);
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left:-10px;
            opacity: 0.6;
            line-height: 18px;
        }

        &::after{
            content: '<h1/>';
            font-family:LaBelleAurore ;
            color: rgb(205, 214, 220);
            font-size: 18px;
            position: absolute;
            margin-top: 80px;
            left:220px;
            opacity: 0.6;
            line-height: 18px;
        }
    }

    .details{
        font-size: 25px;
        text-align:justify;
        color: aliceblue;
        font-family: sans-serif;
       
    }

    
   
}


