.about-page{
    .text-zone{
        position: absolute;
        left: 10%;
        top:50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        animation: fadeIn 1s 1.8s backwards;
    }

    h1{
        font-size: 60px;
        font-family: 'CoolveticaRg-Regular';
        color:#7a0041;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;


        &::before{
            content: '<h1>';
            font-family:LaBelleAurore ;
            color: rgb(205, 214, 220);
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left:-10px;
            opacity: 0.6;
            line-height: 18px;
        }

        &::after{
            content: '<h1/>';
            font-family:LaBelleAurore ;
            color: rgb(205, 214, 220);
            font-size: 18px;
            position: absolute;
            margin-top: 80px;
            left:220px;
            opacity: 0.6;
            line-height: 18px;
        }
    }

    .details{
        font-size: 25px;
        text-align:justify;
        color: aliceblue;
        font-family: sans-serif;
       
    }

    
    .modal{
        position: absolute;
        top: 0;
        left: 56%;
        height: 100%;
        width: 800px;
        margin: auto;
        padding: 0 2rem;
        border-radius: 12px;
        color: #7a0041;
        background-color: rgba(0, 0, 0, 0.872);
        .closediv{
                position: absolute;
                top: 70%;
                left: 50%;
            .close{
                color: rgb(255, 255, 255);
                display: flex;
                justify-content: center;
                font-size: 100px;
                background: transparent;
                border: none;
                transform: rotate(90deg);
            }
        }
        
      }
      
      .save-button{
        color: #7a0041;
        background: black;
        font-size: 15px;
        font-weight: 900;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        margin-left: 120px;
        border: 1px solid #4b0028;
        float: left;
        margin-top: 25px;
        animation: fadeIn 1s 1.8s backwards;
        white-space:nowrap ;
        transition: 1s;
    
        &:hover{
            background: #4b0028;
            color: aliceblue;
            
            border-radius: 10px;
        }
    
    
      
    }
    

      
      
}




