.home-page{

   

    .text-zone{
        position: absolute;
        left: 15%;
        top: 52%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    

    
    h1{

        color: aliceblue;
        font-size: 53px;
        margin: 0;
        font-family:'Coolvetica';
        font-weight: 400;

        &::before{
            content: '<h1>';
            font-family: 'LaBelleAurore';
            color: rgb(191, 225, 255);
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after{
            content: '<h1>';
            font-family: 'LaBelleAurore';
            color: rgb(191, 225, 255);
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
        img{
            width: 90px;
            height: auto;
            margin-bottom: -18px;
            margin-left: 20px;
            opacity: 0;
            animation: rotateIn 1s linear both;
            animation-delay: 0.8s;
            
            
        }
    }


}

h2{
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-button{
    color: #7a0041;
    font-size: 15px;
    font-weight: 900;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    margin-left: 120px;
    border: 1px solid #4b0028;
    float: left;
    margin-top: 25px;
    animation: fadeIn 1s 1.8s backwards;
    white-space:nowrap ;
    transition: 1s;

    &:hover{
        background: #4b0028;
        color: aliceblue;
        
        border-radius: 10px;
    }


  
}



@media (max-width: 768px) {

    .home-page{

   

        .text-zone{
            top: 30%;
        }
    
        
        h1{
            font-size: 25px;
            margin: 0;
            width: 200%;
            
            
            
    
            &::before{
                
                font-size: 15px;
                position: absolute;
                margin-top: -20px;
                left: -20px;
                
            }
    
            &::after{
                
                font-size: 15px;
              
            }
            img{
                width: 60px;
                
            }
        }
    
    
    }
    
    h2{
        
        margin-top: 15px;
        font-size: 8px;
        
    }
    
    .flat-button{
        
        font-size: 8px;
        margin-left: 0px;
        
        
        &:hover{
            background: #4b0028;
            color: aliceblue;
            
            border-radius: 10px;
        }


   
    
    
      
    }
    
    

   
  }

