.photo-container{

    z-index: 0;
    width: 200px;
    height: 500px;
    top: 0;
    position:absolute;
    right: 20%;
    bottom: 0;
    left: auto;
    margin: auto;
    
  
    
}

.world{
    
    
    position:absolute;
    right:-5%;
    bottom: -20%;
    left: auto;
    margin: auto;
    z-index: -1;
    opacity: 0.6;
    
}

.done{
       
    position:absolute;
    right:-5%;
    bottom: -20%;
    left: auto;
    margin: auto;
    z-index: -1;
    opacity: 0.6;
    
}




@media (max-width: 768px) {

    .photo-container{
        position: relative;
       
        left: 0px;
        z-index: -2;
        opacity: 1;
        top: 350px;

        .profile-photo{
            width: 400px;
            

        }}


    

  

  
    .page{
          overflow: hidden;
        }



    .world{
        width: 200px;
        height: 20px;
        top: -20%;
        left: 20%;
    }    
     
    
    
      
    }



@media (max-width: 375px) {

    .photo-container{
        position: relative;
       
        left: 80px;
        z-index: -2;
        opacity: 1;
        top: 300px;

        .profile-photo{
            width: 300px;
            
            

        }}


    

  

  
    .page{
          overflow: hidden;
        }



    .world{
        width: 200px;
        height: 20px;
        top: -20%;
        left: 20%;
    }    
     
    
    
      
    }


 







