.photo-container{

    z-index: 0;
    width: 200px;
    height: 500px;
    top: 0;
    position:absolute;
    right: 20%;
    bottom: 0;
    left: auto;
    margin: auto;
    
  
    
}

.world{
    
    
    position:absolute;
    right:-5%;
    bottom: -20%;
    left: auto;
    margin: auto;
    z-index: -1;
    opacity: 0.6;
    
}

.done{
       
    position:absolute;
    right:-5%;
    bottom: -20%;
    left: auto;
    margin: auto;
    z-index: -1;
    opacity: 0.6;
    
}




@media (max-width: 768px) {

    .photo-container{
        position: relative;
        width: 60px;
        height: 20px;
        left: -250px;
        z-index: -2;
        opacity: 0.3;
        top: 250px;
        
    }

  
    .page{
          overflow: hidden;
        }



    .world{
        width: 200px;
        height: 20px;
        top: -20%;
        left: 20%;
    }    
     
    
    
      
    }







